.holes {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  grid-row-gap: 50px;
  justify-content: center;
  user-select: none;
  .hole {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    user-select: none;
    img {
      user-select: none;

      &:active {
        user-select: none;
        cursor: url("../assets/WAM_Hammer_Active.png") 25 50, pointer;
      }
    }
  }
}
