@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.app {
  height: 100vh;
  width: 100vw;
  background: url("./assets/WAM_bg.jpg") no-repeat 0 0 fixed;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  font-family: "Electrolize", sans-serif;
  .start {
    width: 100%;
    height: 100%;
  }
  .in-game {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
